body {
    font-family: Arial, sans-serif;
    background-color: #d4f851;
    margin: 0;
    padding: 0;
  }
  
  .quiz-container {
    max-width: 600px;
    margin: 10% auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .question {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .choices {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  
  .choice-button {
    padding: 10px;
    border: none;
    background-color: #f4f4f4;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .choice-button:hover {
    background-color: #e0e0e0;
  }
  
  .next-button {
    margin-top: 20px;
    margin-left: 79%;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .next-button:hover {
    background-color: #0056b3;
  }
  