#display{
    margin-top: 100px;
    margin-left:100px;
    width: 800px;
    height: 150px;
    padding: 50px;
    font-size: 100px;
    text-align: center;
    background-color: blue;
    border-radius: 10px;
    color: white;
    box-shadow: rgba(1px, 0, 0, 1px);
}
.input-container{
/* display: flex;
flex-direction: column;
/* align-items: center; */
width: 500px; 
margin-top: 50px;
margin-left: 350px;
margin-bottom: 50px;
font-size: 20px;
}
button{
    padding: 10px 40px;
    border-radius: 10px;
    font-size: 20px;
    margin-left: 400px;
}