body {
    font-family: Arial, sans-serif;
    background-color: #f58f8f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 24px;
}

.color-box {
    width: 200px;
    height: 100px;
    background-color: #FFFFFF;
    margin: 20px auto;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

#color-value {
    font-size: 18px;
    background-color: yellow;
    padding: 5px;
}

.generate-button {
    background-color: #0074d9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.generate-button:hover {
    background-color: #0056b3;
}
